@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  @apply text-alto-950;
}

svg {
  width: 100%;
  height: 100%;
}

img {
  object-fit: cover;
  font-size: 0;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-alto-200;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary-400;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-600;
}

.nsm7Bb-HzV7m-LgbsSe-BPrWId {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500 !important;
  font-size: 13px !important;
}

.nsm7Bb-HzV7m-LgbsSe {
  min-width: 220px !important;
  max-width: 220px !important;
}
