@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  @apply text-alto-950;
}

svg,
img {
  object-fit: cover;
}

img {
  font-size: 0;
}
